@charset "utf-8";
/* CSS Document */

.body{
	background-color:	#FAFAFA;
	
}	
.sodrzina{
	margin-left:auto;
	margin-right:auto;
	width:1000px;	
}	
.header{width:1000px;
	height:80px;
	margin: 0 auto;
	padding: 0px 0px;
	border-style:hidden;
	border-radius:1px;
}
.logo{
	float: left;
width: 300px;
height: 80px;
margin: 0px;
padding: 0px;
}
#broj{	font-family: 'Myriad Pro'; font-size:24px;
		height:40px;
		float:right;
}
#menu {
float: right;
width: 650px;
height: 40px;
}
#menu a {
display: block;
margin-left: 1px;
padding: 5px 0px 5px 20px;
text-decoration: none;
text-align: center;
text-transform: uppercase;
font-family: 'Myriad Pro', sans-serif;
font-size: 17px;
font-weight: 300;
color: rgb(210,33,29);
}
.br_meni{
	float: right;
	width: 650px;
	height: 40px;
}
#menu ul {
float: right;
margin: 0;
padding: 0px 0px 0px 0px;
list-style: none;
line-height: normal;
height: 40px;
}
#menu li {
float: left;
}
#gmeni{
	width:1000px;
	height:40px;
	-webkit-border-radius: 12px;
	border-radius: 12px;
	border-style:solid;
	border-width:1px;
	-moz-background-clip: padding; -webkit-background-clip: padding-box; background-clip: padding-box;
	-webkit-box-shadow: 0px 0px 2px 0px #000000;
    box-shadow: 0px 0px 2px 0px #000000;
	background-color: #000000;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#999999), to(#444444)); /* Safari 4+, Chrome */
	background-image: -webkit-linear-gradient(top, #999999, #000000); /* Chrome 10+, Safari 5.1+, iOS 5+ */
	background-image:    -moz-linear-gradient(top, #999999, #000000); /* Firefox 3.6-15 */
	background-image:      -o-linear-gradient(top, #999999, #000000); /* Opera 11.10-12.00 */
	background-image:         linear-gradient(to bottom, #999999, #000000); /* Firefox 16+, IE10, Opera 12.50+ */
}
#podmeni{
float: left;
width: 800px;
height: 40px;
}
#podmeni a {
display: block;
margin-left: 1px;
padding: 7px 10px 5px 10px;
text-decoration: none;
text-align: center;
text-transform: uppercase;
font-family: 'Myriad Pro', sans-serif;
font-size: 20px;
font-weight: 400;
color: rgb(250,250,250);
}
#podmeni ul {
float: left;
margin: 0;
padding: 0px 0px 0px 0px;
list-style: none;
line-height: normal;
height: 40px;
}
#podmeni li {
float: left;
}
#logos{
float: right;
width: 200px;
height: 40px;
}
#logos a {
display: block;
margin-left: 1px;
padding: 9px 1px 5px 1px;
text-decoration: none;
text-align: center;
text-transform: uppercase;
font-family: 'Myriad Pro', sans-serif;
font-size: 17px;
font-weight: 300;
color: rgb(210,33,29);
}
#logos ul {
float: right;
margin: 0;
padding: 0px 10px 0px 0px;
list-style: none;
line-height: normal;
height: 40px;
}
#logos li {
float: left;
}
#sod1{	width:1000px;
		height:960px;
		border-style:groove;
		border-radius:1px;		
}
#lev{ 
float:left;
width:700px;
height:960px;
}
#slider{width:700px;}
#text{width:700px; padding: 10px 10px 10px 10px;}
#text h1{font-family:Sansation; font-size:24px; }
#text h2{font-family:Arial; font-size:13px; }
#tabmeni1{width:700px;}


#desen{ float:right;
		width:300px;
		height:960px;
		padding-top:7px;
		overflow:hidden;
}
#newsletter{	width:1000px;
				height:50px;
				border-style:groove;
				border-radius:1px;
	}
#signup{	float:left; padding: 10px 0px 0px 10px;
			font-family::Sansation; font-size:24px; font-weight:300;
	}
#subscribe{	float:right;
			height:50px;
	}
#email{padding-top:11px; height:50px; float:left;}
#kopce{padding-top:11px; height:50px; float:right;}
#sod2{	width:1000px;
		height:300px;
		border-style:groove;
		border-radius:1px;		
}
#stories{float:left;width:500px;}
#tabmeni2{float:right;width:500px;}
.textwrap{float: right;
margin: 10px;}
img{
	max-height:100%;
	max-width:100%;
	
	}
